*{

    padding: .3rem;
    margin: 0;
    box-sizing: border-box;
}
/*cores  
laranja: #f39c12
cor-rosa: #fd79a8
rosa-menos:#ff7675
preto-nice:#636e72

pra cartoes
laranja-fraco:#e17055
azul-fraco:#00cec9
verde-aceso:#55efc4

GRADIENTE

----------
laranja
#f2994a
→ 
#f2c94c
--------

*/
/*HEADINGS */

h1{
    margin-top: 40px;
}
h2{
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#section1-h1{
 font-weight: 375;
text-transform: uppercase;
margin: 20px auto;
color: #fff;
text-align: center;
opacity: 0.9;
letter-spacing: 4px;
}
#section1-h2{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px auto;
    color: #fff;
    font-weight: 500;
    opacity: 0.9;
    letter-spacing: 3px;
}
#header1{
    color:white;
    font-weight: 400;
    opacity: 0.88;
}
#header2{
   font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color:white;
    margin-bottom: 2.5rem;
    opacity: 0.88;
}
/* SECTION 2 */

.section2-h2{
    color:#555;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
   

}
.section2-text{
    color:#555;
    font-size: 1.2rem;
   font-weight:400;

}



/*FECHAR SECTION 2*/


#cor{
    color:white;
}

/**SECTION 3 **/

/**SECTION 3 **/
.botao-encomendar{
    color: #fff;
    border-radius: 60px; 
    margin-top: 4px;
    padding: 12px 56px;
    text-decoration: none;
    background-color:#00cec9 ;
    text-transform: uppercase;
   
}
.botao-encomendar:active,
.botao-encomendar:hover{
     background-color: #55efc4;
     color: #fff;
    text-decoration: none;
    
}

.row-space{
    margin-bottom: 24px;
}
.botao-encomendar:link,
.botao-encomendar:visited{
     
    text-decoration: none;
}

.section3-h2{
    font-weight: 400;
 text-transform: uppercase;
margin: 20px auto;
color: #555;
text-align: center;
letter-spacing: 3px;
margin-bottom: 4rem;
font-size: 1.4rem;

}
img{
    
    height:17rem;
    width: 14rem;
}

.icon{
    font-size:3rem;
    display: block;
    color: orangered;
    margin-bottom: 8px;
    text-align: center;

}
.iconsv{
    height: 4rem;
    width: auto;
    
     margin-bottom: 8px;
     text-align: center;

}

/** FECHAR SECTION 3**/

/* SECTION 4 */
.comentario{

    margin-top: -1rem;
}

.comentario:before{

    content: "\201C";
    font-size: 3rem;
    }


/*FECHAR SECTION 4*/

/* HEADERS */

#section1-h1:after{
    display: block;
    height: 2px;
 background-color: orangered;
content: " ";
width: 100px;
margin: 0 auto;
}
.nav-link{

    text-transform: uppercase;
    letter-spacing: 2px;
 
}

.navbar-nav{
    color: #fff;
}
.nav-link:active,
.nav-link:hover{
   
    border-bottom: 2px solid #ff7675;
}
.header{

 font-weight: 630;
 background-image:linear-gradient(rgba(99, 110, 114, 0.575),rgba(99, 110, 114, 0.568)) ,url(../vendors/img/bolo3.jpg);
 height: 97vh;
 background-size: cover;
 background-position: center;
 
}
.texto{
    
    text-transform: uppercase;
    color: #555;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 3px;
    word-spacing: 10px;  

}
.header-icon{
    height: 6rem;
    width: auto;
}


/** BOTOES **/
#header-botao{


}
.conteiner{
   max-width: 50%;
   max-height: 50%;
    margin-left: auto;
    margin-right: auto;
 /* width: 94rem; */
}
#header-botao {
    color: #fff;
    border-radius: 100px;
    margin: 4px 5px;
    padding: 12px 30px;
    text-decoration: none;
    background-attachment: fixed;
   background-color: #e65252; 
   }
   .botao a:link,
   .botao a:visited{
       
       text-decoration: none;
   }
   
/*--CARDS-*/

#cardm{
    display: inline-block;
}
#cards-espacamento{

 margin: 2rem;

}


.card-img-top{
  
    max-height: 15rem;
}
.card-body{

    max-height: 20rem;
}
.card-text{
    max-height: 200rem;
}