*{

    padding: .2rem;
    margin: 0;
    box-sizing: border-box;
}
/*cores  
laranja: #f39c12
cor-rosa: #fd79a8
rosa-menos:#ff7675
preto-nice:#636e72

pra cartoes
laranja-fraco:#e17055
azul-fraco:#00cec9
verde-aceso:#55efc4

GRADIENTE

----------
laranja
#f2994a
→ 
#f2c94c
--------

*/
/*HEADINGS */

h1{
    margin-top: 40px;
}
h2{
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}


#section1-h1{
 font-weight: 375;
text-transform: uppercase;
margin: 20px auto;
color: #fff;
text-align: center;
opacity: 0.9;
letter-spacing: 4px;
}
#section1-h2{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px auto;
    color: #fff;
    font-weight: 500;
    opacity: 0.9;
    letter-spacing: 3px;
}
#header1{
    color:white;
    font-weight: 400;
    opacity: 0.88;
}
#header2{
   font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color:white;
    margin-bottom: 2.5rem;
    opacity: 0.88;
}
/* SECTION 2 */

.section2-h2{
    color:#555;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
   

}
.section2-text{
    color:#555;
    font-size: 1.2rem;
   font-weight:400;

}



/*FECHAR SECTION 2*/


#cor{
    color:white;
}
.iconcor{
    color:#00cec9;
}

/**SECTION 3 **/

/**SECTION 3 **/
.botao-encomendar{
    color: #fff;
    border-radius: 60px; 
    margin-top: 4px;
    padding: 12px 56px;
    text-decoration: none;
    background-color:#00cec9 ;
    text-transform: uppercase;
   
}
.botao-encomendar:active,
.botao-encomendar:hover{
     background-color: #55efc4;
     color: #fff;
    text-decoration: none;
    
}

.row-space{
    margin-bottom: 24px;
}
.botao-encomendar:link,
.botao-encomendar:visited{
     
    text-decoration: none;
}

.section3-h2{
    font-weight: 400;
 text-transform: uppercase;
margin: 20px auto;
color: #555;
text-align: center;
letter-spacing: 3px;
margin-bottom: 4rem;
font-size: 1.2rem;

}
img{
    
    height:17rem;
    width: 14rem;
}

.icon{
    font-size:3rem;
    display: block;
    color: #00cec9;
    margin-bottom: 8px;
    text-align: center;

}
.iconsv{
    height: 4rem;
    width: auto;
    
     margin-bottom: 8px;
     text-align: center;

}
.btn-text:link, .btn-text:visited {
    margin-left: 1.6rem;
    font-size: 1.4rem;
    color: #00cec9;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #00cec9;
    padding: 3px;
    transition: all .2s; }
  
  .btn-text:hover {
    background-color: #00cec9;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translate(-2px); }
  
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translate(0); }
    
.personalizar{
    margin-top: 1.2rem;
    }
    .personalizar p{
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        color:#00cec9;
    }

/** FECHAR SECTION 3**/

/* SECTION 4 */

.comentario{

    margin-top: -1rem;
}

.comentario:before{
    color: #00cec9;
    content: "\201C";
    font-size: 3rem;
    }


/*FECHAR SECTION 4*/


/* SECTION 5 */
.mensagem{
    border-bottom: 4rem;
}
.form-mensagem{
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 2px;
    background-color: rgba(169, 227, 250, 0.87);
    border-bottom: 3px solid transparent;
    width: 120%;
    border: none;
    display: block;
    border-bottom: 2px solid #00cec9;
}
.mandar{
     margin-top: 1.6rem;
    border-radius: 2rem;
    width: 80%;
    height: 3rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    background-color: #00cec9;
}

.mensagem-icon{

    height: 6rem;
    width: auto;
    margin-top: 3rem;
    margin-left: 8.2rem;
}
#mensage-section{
    color:#555;
     width: 30rem; 
     margin-top: 4rem; 
     margin-bottom: 3.5rem;
     font-weight: 400;
     text-transform: uppercase;
  
 
}
#mensage-section:after{
  
    display: block;
    height: 3px;
 background-color: #00cec9;
content: " ";
width: 14rem;
margin: 0 auto;
}
/*FECHAR SECTION 5*/

/* HEADERS */

#section1-h1:after{
    display: block;
    height: 3px;
 background-color: #00cec9;
content: " ";
width: 14rem;
margin: 0 auto;
}
.nav-link{

    text-transform: uppercase;
    letter-spacing: 2px;
 
}

.navbar-nav{
    color: #fff;
}
.nav-link:active,
.nav-link:hover{
   
    border-bottom: 2px solid #00cec9;
}
.header{

 font-weight: 630;
 background-image:linear-gradient(rgba(99, 110, 114, 0.575),rgba(99, 110, 114, 0.568)) ,url(img/bolo3.jpg);
 height: 97vh;
 background-size: cover;
 background-position: center;
 
}
.texto{
    
    text-transform: uppercase;
    color: #555;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 3px;
    word-spacing: 10px;  

}
.header-icon{
    height: 6rem;
    width: auto;
}


/** BOTOES **/
#header-botao{


}
.conteiner{
   max-width: 50%;
   max-height: 50%;
    margin-left: auto;
    margin-right: auto;
 /* width: 94rem; */
}
#header-botao {
    color: #fff;
    border-radius: 100px;
    margin: 4px 5px;
    padding: 12px 30px;
    text-decoration: none;
    background-attachment: fixed;
   background-color: #e65252; 
   }
   .botao a:link,
   .botao a:visited{
       
       text-decoration: none;
   }
   
/*--CARDS-*/

#cardm{
    display: inline-block;
}
#cards-espacamento{

 margin: 2rem;

}


.card-img-top{
  
    max-height: 15rem;
}
.card-body{

    max-height: 20rem;
}
.card-text{
    max-height: 200rem;
}

/*FOOTER*/

footer{
    margin-top: 4rem;
    height:auto;
    width:auto;
    background-color: #636e72;
}
.footer-redesli{
    list-style: none;
    text-decoration: none;
}
.footer-redes li a:link,
.footer-redes li a:visited{
 text-decoration: none;
 color: #b6b5b5;
}
.ion-social-whatsapp :link,
.ion-social-whatsapp :visited{
    text-decoration: none;
}
.nav-social ul li{
    display: inline-block;
    
}
.iconsize{
    font-size: 1.8rem;
}
.nav-social p{
 color: rgb(212, 208, 208);
 font-size: 1.4rem;
 letter-spacing: 2px;
}
/*FOOTER END*/